<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="QuanAoReDepConnectionString" connectionString="Data Source=WIN-KB1H1DR2J3Q;Initial Catalog=QuanAoReDep;Persist Security Info=True;User ID=WebQuanAoReDep;Password=QuanAoReDep20141117"
      providerName="System.Data.SqlClient" />-->
    <add name="QuanAoReDepConnectionString" connectionString="Data Source=quanaoredep.mssql.somee.com;Initial Catalog=quanaoredep;Persist Security Info=False;User ID=juki23_SQLLogin_1;Password=t81bc9gw3f" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="404.aspx" />
    </customErrors>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <!-- Register the HttpHandler used for BotDetect Captcha 
      requests -->
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <!-- Register a custom SessionIDManager for BotDetect Captcha 
    requests -->
    <sessionState mode="InProc" cookieless="false" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies"/>
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="home.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <!-- Register the HttpHandler used for BotDetect Captcha 
      requests (IIS 7.0+) -->
      <remove name="UrlRoutingHandler" />
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
      <remove statusCode="404" subStatusCode="-1" />
      <error responseMode="ExecuteURL" statusCode="404" path="404.aspx" />
    </httpErrors>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>